@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);

html, body{
    font-family: 'Raleway', sans-serif;
}
#cv{
    width:800px;
    margin: 0 auto;
    margin-top: 20px;
	margin-bottom: 20px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

#profile{
    background: #1e1e1e;
    color: #a5a5a5;
    padding: 25px;
}

#intro{
    display: flex;
    align-items: center;
}

#about{
    border-left: 2px solid #a5a5a5;
    padding-left: 20px;
    margin-left: 10px;
}

#intro img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 25px;
}

#intro h1{
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    font-weight: 500;
}

#intro h2{
    margin: 0;
    text-transform: uppercase;
    color: #e4025e;
    font-weight: 500;
    font-size: 25px;
}

#intro h3{
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

#contact-info{
    display: flex;
    border-bottom: 2px solid #a5a5a5;   
}
#contact-info ul{
    list-style: none;
}
#contact-info ul:first-child{
    font-weight: bold;
    text-transform: uppercase;
    color:#e4025e;
    font-weight: 600;
}

#social-networks{
    border-top: 2px solid #afafaf;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    padding-left:0px;
    color: #e4025e;

}

#social-networks a{
    color: #fff;
    text-decoration: none;
}

#social-networks li i{
    margin-right: 8px;
}

#main{
    display: flex;
}


.ex-title{
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: 600;
}

.ex-date{
    font-size: 13px;
    margin-top: -14px;
    color: black;
    text-transform: none;
}

#titles-info{
    padding: 0px 20px 0px 20px;
}

#side-title{
    text-align:right;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color:#e4025e; 
    padding-right: 20px;
}

.small-description{
    font-size: 20px;
    font-weight: 500;
    color:#e8afd1;
}

.pink-title{
    font-weight: 300;
}

.ex-info{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    width: 500px;
}

#ex-description p{
    margin-top: -15px;
}

#skills{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

#skills ul{
    list-style: none;
    font-size: 15px;
    padding-left:15px;
    line-height: 2.5;
}

#skills header{
    margin: 20px;
    font-size: 15px;
}

#pro-skills{
   background: #eae7ff;
    flex-grow: 1;
}

#pro-skills h1{
    font-weight: 400;
}

#per-skills{
    background: #e8afd1;
    flex-grow: 1;
}

#per-skills h1{
    font-weight: 400;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 130px;
  height: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-color:#adadad;
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.progColour{
background-color: #adadad;
    border-radius: 20px;
    padding: 1px;
    width: 130px;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
}

#newProg{
    display: flex;
    flex-direction: row;
}

#newProg h1{
    font-size: 15px;
}

#barDesing{
    align-self: center;
    margin-left: auto;
    margin-right: 10px;
}

#education{
    background:#eae7e7;
}
.ed-title{
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: 600;
    margin-top: 0px;
    padding-top: 20px;
}

.ed-date{
    font-size: 13px;
    margin-top: -14px;
    color: black;
    text-transform: none;
}

.ed-info{
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

#ed-sideTitle{
    width: 158.84px;
    text-align:right;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color:#e4025e; 
    padding-right: 20px;  
}

#ed-description p{
    margin-top: -15px;
}

#hobbies{
    display:flex;
}

.hob-title{
    text-transform: uppercase;
    padding-left: 20px;
    font-weight: 600;
    margin-top: 0px;
    padding-top: 20px;
}

.hobName{
    color: #e4025e;
    font-size:10px;
    text-align: center;
}

.hobName h1 {
    font-weight: 400;
}

#hob-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#hob-in{
    width: 540px;
}

#progBarSkills{
    list-style: none;
    font-size: 15px;
    padding-left: 15px;
}

#progBarPer
{
    list-style: none;
    font-size: 15px;
    padding-left: 15px;
}

#languages{
    background: #eae7ff;
    flex-grow: 1;
}

#languages h1{
    font-weight: 400;
}
#progBarLan{
    padding-left: 15px;
}
