@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);
html,
body {
	font-family: 'Raleway', sans-serif;
}

#formMain {
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
	color: #656b71;
	font-weight: 500;
}

#top {
	background-color: #F4F3EE;
	padding: 25px;
}

#introAdmin {
	display: flex;
}

#profileImg {
	width: 100px;
	border-radius: 35%;
}

a {
	text-decoration: none;
}

legend {
	margin-left: 40px;
	color: #DF9496;
	font-size: 20px;
}

.inputs {
	list-style: none;
}

input {
	margin: 3px;
}

input[type=text],
input[type=date],
input[type=number] {
	border: 1px dashed transparent;
	transition: all 0.2s ease-out;
	box-sizing: border-box;
	border-radius: 6px;
	height: 30px;
	width: 100%;
}

textarea {
	border: 1px dashed transparent;
	transition: all 0.2s ease-out;
	box-sizing: border-box;
	border-radius: 6px;
	width: 100%;
}

#middle {
	margin-top: 20px;
}

#middle legend,
#buttom legend {
	margin-left: 65px;
}

#soDiv input[type=text] {
	background: #F4F3EE;
	width: 300px;
	margin-left: 40px;
}

#socialCir {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 1;
	padding-left: 15px;
}

.socialBtn {
	display: block;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	background-color: transparent;
	margin: 10px;
	vertical-align: top;
	padding-left: 5px;
}

.socialBtn:hover {
	-moz-box-shadow: 0 0 3px gray;
	-webkit-box-shadow: 0 0 3px gray;
	box-shadow: 0 0 3px gray;
}

.socialBtn img {
	display: inline-block;
	width: 40px;
}

.closeBtn {
	width: 25px;
	height: 25px;
	border: none;
	border-radius: 50%;
	background-color: transparent;
	padding-left: 3px;
}

.closeBtn:hover {
	-webkit-box-shadow: 0 0 3px gray;
}

.closeBtn img {
	display: inline-block;
	width: 20px;
}

#expDiv button {
	position: absolute;
	margin-top: 20px;
	margin-left: 240px;
}

#expSection {
	background-color: #F6F4DA;
	margin-top: 20px;
	padding-top: 20px;
}

#eduSection {
	background-color: #D9E2E1;
	margin-top: 20px;
	padding-top: 20px;
}

#expSection legend,
#expSection legend {
	margin-left: 65px;
}

.expDes,
.eduDes {
	display: flex;
	justify-content: center;
}

.expDes ul,
.eduDes ul {
	padding: 0px;
	margin-right: 15px;
}

.expDes ul li textarea,
.eduDes ul li textarea {
	margin: 3px;
}

#addMoreExp,
#addMoreEdu {
	align-self: center;
}

.addBtn {
	position: absolute;
	margin-left: 39px;
	outline: none;
	text-align: center;
	border-radius: 20px;
	background: white;
	border: 2px solid #e19496;
	color: #e4a1a3;
	letter-spacing: 1px;
}

.addBtn:hover {
	background: #e19496;
	border: 2px solid white;
	color: white;
	letter-spacing: 1px;
}

#skillsSect {
	padding-top: 20px;
	display: flex;
}

#skillsSect input[type=text] {
	background: #F4F3EE;
}

#skillsSect li {
	float: left;
	list-style: none;
}

#skillsSect ul {
	margin-left: 30px;
}

#skillsSect button {
	margin-top: 5px;
	margin-left: 15px;
}

input[type=number] {
	border: 1px dashed transparent;
	transition: all 0.2s ease-out;
	box-sizing: border-box;
	border-radius: 6px;
	height: 30px;
	width: 100%;
	background: #F4F3EE;
	margin-left: 7px;
}

#buttom {
	margin-top: 20px;
}

#hobbies input[type=text] {
	width: 250;
}

#hobbies1,
#hobbies2,
#hobbies3,
#hobbies4 {
	width: 100%;
}

#checkHob {
	margin-left: 50px;
	margin-top: 10px;
}

#checkboxSelect {
	display: flex;
	margin-left: 70px;
	margin-top: 5px;
}

#languagesSec {
	background-color: #f6f4da;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#languagesSec li {
	float: left;
	list-style: none;
}

#languagesSec ul {
	margin-left: 25px;
	margin-top: 0px;
	margin-bottom: 4px;
}

#languagesDiv {
	display: inline-block;
}


}
#languagesDiv ul li button {
	background-color: red;
}
#languagesDiv [type=number] {
	background: white;
}
#addLan {
	margin-left: 15px;
	margin-top: 5px;
}
#closeLang {
	margin-left: 15px;
	margin-top: 5px;
}
#saveDiv {
	border-top: 8px solid white;
	text-align: center;
	padding: 10px;
	background: #A2ADBC;
}
#saveBtn {
	outline: none;
	height: 40px;
	text-align: center;
	width: 130px;
	border-radius: 20px;
	background: transparent;
	border: 2px solid #F6F4DA;
	color: #F6F4DA;
	letter-spacing: 1px;
}
#saveBtn:hover {
	background: #F6F4DA;
	border: 2px solid #F6F4DA;
	color: #656b71;
}
#backBtn {
	outline: none;
	text-align: center;
	border-radius: 20px;
	background: transparent;
	border: 2px solid #F6F4DA;
	color: #F6F4DA;
	letter-spacing: 1px;
	text-decoration: none;
	padding-top: 8px;
	padding-left: 42px;
	padding-right: 42px;
	padding-bottom: 8px;
	margin-left: 15px;
}
#backBtn:hover {
	background: #F6F4DA;
	border: 2px solid #F6F4DA;
	color: #656b71;
}