@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);
html,
body {
	font-family: 'Raleway', sans-serif;
}

#usersMain {
	width: 900px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
	color: #656b71;
	font-weight: 500;
	padding-top: 25px;
	text-align: center;
	padding-bottom: 10px;
	background-color: #F4F3EE;
}

h2 {
	font-weight: 200;
	font-size: 30px;
}

p {
	text-align: center;
}

#users {
	display: flex;
	justify-content: center;
	padding-bottom: 25px;
}

table,
th,
td {
	border: 1px solid white;
}

th,
td {
	padding: 15px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:nth-child(odd) {
	background-color: #F6F4DA;
}

th {
	background-color: #d9e2e1;
	color: #8e99a7;
}

#tdMail {
	width: auto;
	padding-right: 15px;
}

.userBtn,
.deleteBtn {
	outline: none;
	text-align: center;
	border-radius: 20px;
	background: rgb(244, 243, 238);
	border: 2px solid #8e99a7;
	color: #8e99a7;
	letter-spacing: 1px;
	text-decoration: none;
	padding-top: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 6px;
	margin-left: 15px;
}

.userBtn:hover,
.deleteBtn:hover {
	background: #A2ADBC;
	border: 2px solid white;
	color: white;
}

#create {
	text-align: center;
	background-color: #f6f4da;
	padding-top: 20px;
	padding-bottom: 20px;
}